.products {
    display: flex;
    flex-wrap: wrap;

}

.pagination {
    text-align: center;
    padding: 10px;
}

.pagination button {
    background: transparent;
    border: 1px solid #000;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
